# Notebook

## Data loading

In [1]:
from modules.loader import Loader

In [2]:
loader = Loader()
df_cust = loader.load_customers()
df_inv = loader.load_inventory()
df_sal = loader.load_sales_data()

In [13]:
df_cust.head()

,id,name,payer_id,payer_name,city,post_code,country_region_code,is_b2c,latitude,longitude,population
0,00001,Prva dimenzija d.o.o.,00001,Prva dimenzija d.o.o.,medvode,1215,SI,False,46.13049,14.40272,15542.0
1,00002,DOBROTIĆ-MONTAŽA D.O.O.,00002,DOBROTIĆ-MONTAŽA D.O.O.,ivanec,HR-42245,HR,True,46.22306,16.12000,5461.0
2,00003,Masivna Pasivna d.o.o.,00003,Masivna Pasivna d.o.o.,trzin,1236,SI,False,46.12527,14.55256,3844.0
3,00005,ZIDARSKA DELA ZVONKO ŠEBALJ S.P.,00005,ZIDARSKA DELA ZVONKO ŠEBALJ S.P.,leskovec pri krškem,8273,SI,False,45.93566,15.47184,1021.0
4,00006,MARCHIOL d.o.o.,00006,MARCHIOL d.o.o.,nova gorica,5000,SI,True,45.95604,13.64837,13178.0

In [14]:
df_inv.head()

,sku,descr,brand,quantity,last_cost,unit_price,category
0,00001,NASTAVEK ZA MEŠANJE A F1=60MM,PROLINE,10,0.73,2.28,NaN
1,00002,NASTAVEK ZA MEŠANJE MASE 80x400 TIP A,PROLINE,18,1.49,4.86,NaN
2,00003,NASTAVEK ZA MEŠANJE MASE 100X500 TIPA,PROLINE,10,2.10,6.15,NaN
3,00004,NASTAVEK ZA MEŠANJE MASE 80x400 TIP B,PROLINE,14,1.67,4.86,NaN
4,00005,NASTAVEK ZA MEŠANJE MASE 100X500 TIP B,PROLINE,0,1.48,6.00,NaN

In [15]:
df_sal.head()

,sku,cust_id,payer_id,invoice_no,ddate,quantity,cost,price,sales_person
0,DCR020,080001,080001,PDO19+00025,2022-03-01,1,-102.09,0.0,SHOP
1,DCD985M2,09767,09767,PDO19+00029,2021-04-01,1,-198.84,0.0,SHOP
2,DPC10RC,10573,10573,PDO19+00037,2021-04-01,1,-225.91,0.0,SHOP
3,DS150,080001,080001,PDO19+03226,2021-04-01,1,-28.48,0.0,SHOP
4,DE7025,080001,080001,PDO19+03293,2022-03-01,1,-25.23,0.0,SHOP

## Notes

To ask to CEO:
- More data in sales_data (from 2020, possibly from 2019?) A: will get that tomorrow

Questions to CEO:
- Returns -> do they have the same invoice_no? (only in sales) A: No it's different (in quantity + is sales - is return)
- Negative values in cost, price and quantity? (only in sales) A: The same as quantity (see above)
- Focus on specific customers? A: (No, its already filtered out, maybe some garbage to remove by us)
- List useless items to filter out? A: (All items that have SKU starting with 188R...)
- Start date for sales data? A: (2019 july)
- Some records to remove from sales data? A: (products that have in product description NLS "No Longer Available")
- SHOP sales_person is that another sales chanel? A: Yes (b2b, b2c and SHOP)

Considerations:
- For Recommendation System: what to do with returns, do we filter out? or include that?
- Sales currency is all in euro and with marginal influence of inflation (we don't need to care about that)

Data Analysis Ideas

- Top sales, margin and quantity items  (best products)
- Top sales, margin and quantity customer (best customers)
- Top sales, margin and quantity brands (best brands)
- Top sales, margin and quantity by sales_person
- Find seasonality in total sales, categories
- Visualize customer location by sales volume
- List top cities by sales, brands and categories
- Find products which are deprecated (haven't been sold for over 6months)
- Association rules for products (products commonly sold together)
- Association rules for categories (categories commonly sold together)
- Check b2b and b2c sales how they compare

- Average invoice_no size (per country) or distribution?
- Sales price distribution for selected products?
- Plot of unit sold and price for selected products, categories, brands by month-year?

- Average life-span of all/selected products? (important for recommendation system)
- Average time between purchases?